<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zakary.mapper.PatientMapper" >
  <resultMap id="BaseResultMap" type="com.zakary.dao.PatientDao" >
    <id column="patient_id" property="patient_id" jdbcType="INTEGER" />
    <result column="patient_name" property="patient_name" jdbcType="VARCHAR" />
    <result column="patient_gender" property="patient_gender" jdbcType="CHAR" />
    <result column="patient_age" property="patient_age" jdbcType="INTEGER" />
    <result column="patient_tel" property="patient_tel" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    patient_id, patien_tname, patient_gender, patient_age, patient_tel, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from patient
    where patient_id = #{patient_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from patient
    where patient_id = #{patient_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zakary.dao.PatientDao" >
    insert into patient (patient_id, patient_name, patient_gender,
      patient_age, patient_tel, type
      )
    values (#{patient_id,jdbcType=INTEGER}, #{patient_name,jdbcType=VARCHAR}, #{patient_gender,jdbcType=CHAR},
      #{patient_age,jdbcType=INTEGER}, #{patient_tel,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zakary.dao.PatientDao" >
    insert into patient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patient_id != null" >
        patient_id,
      </if>
      <if test="patient_name != null" >
        patient_name,
      </if>
      <if test="patient_gender != null" >
        patient_gender,
      </if>
      <if test="patient_age != null" >
        patient_age,
      </if>
      <if test="patient_tel != null" >
        patient_tel,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patient_id != null" >
        #{patient_id,jdbcType=INTEGER},
      </if>
      <if test="patient_name != null" >
        #{patient_name,jdbcType=VARCHAR},
      </if>
      <if test="patient_gender != null" >
        #{patient_gender,jdbcType=CHAR},
      </if>
      <if test="patient_age != null" >
        #{patient_age,jdbcType=INTEGER},
      </if>
      <if test="patient_tel != null" >
        #{patient_tel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zakary.dao.PatientDao" >
    update patient
    <set >
      <if test="patient_name != null" >
        patient_name = #{patient_name,jdbcType=VARCHAR},
      </if>
      <if test="patient_gender != null" >
        patient_gender = #{patient_gender,jdbcType=CHAR},
      </if>
      <if test="patient_age != null" >
        patient_age = #{patient_age,jdbcType=INTEGER},
      </if>
      <if test="patient_tel != null" >
        patient_tel = #{patient_tel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where patient_id = #{patient_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zakary.dao.PatientDao" >
    update patient
    set patient_name = #{patient_name,jdbcType=VARCHAR},
      patient_gender = #{patient_gender,jdbcType=CHAR},
      patient_age = #{patient_age,jdbcType=INTEGER},
      patient_tel = #{patient_tel,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR}
    where patient_id = #{patient_id,jdbcType=INTEGER}
  </update>

  <select id="selectAllPatientsByDoctorId" resultType="com.zakary.dao.utils.DoctorPatients" parameterType="com.zakary.dao.PageDao">
      select patient.patient_id,patient_name,patient_gender,patient_age,treatment_name,treatment_time,treatment_fee
      from patient,treatment
      where treatment.doctor_id=#{doctor_id,jdbcType=INTEGER} and patient.patient_id=treatment.patient_id
      <if test="patient_id !=null and patient_id != 0">
        and patient.patient_id=#{patient_id,jdbcType=INTEGER}
      </if>
      limit #{page},#{limit}
  </select>

  <select id="getCountById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(*)
    from patient
    where patient_id=#{patient_id,jdbcType=INTEGER}
  </select>

  <select id="getCountByIdInTreatment" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(*)
    from treatment
    where patient_id=#{patient_id,jdbcType=INTEGER}
  </select>

  <insert id="insertPatientTreatmnet" parameterType="com.zakary.dao.TreatmentDao">
    insert into treatment(doctor_id, patient_id, treatment_name, treatment_time, treatment_fee)
    values (#{doctor_id,jdbcType=INTEGER},#{patient_id,jdbcType=INTEGER},#{treatment_name,jdbcType=VARCHAR},#{treatment_time,jdbcType=DATE},#{treatment_fee,jdbcType=DECIMAL})
  </insert>

</mapper>