<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zakary.mapper.PatientMapper" >
  <resultMap id="BaseResultMap" type="com.zakary.dao.PatientDao" >
    <id column="patientId" property="patientid" jdbcType="INTEGER" />
    <result column="patientName" property="patientname" jdbcType="VARCHAR" />
    <result column="patientGender" property="patientgender" jdbcType="CHAR" />
    <result column="patientAge" property="patientage" jdbcType="INTEGER" />
    <result column="patientTel" property="patienttel" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    patientId, patientName, patientGender, patientAge, patientTel, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from patient
    where patientId = #{patientid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from patient
    where patientId = #{patientid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zakary.dao.PatientDao" >
    insert into patient (patientId, patientName, patientGender, 
      patientAge, patientTel, type
      )
    values (#{patientid,jdbcType=INTEGER}, #{patientname,jdbcType=VARCHAR}, #{patientgender,jdbcType=CHAR}, 
      #{patientage,jdbcType=INTEGER}, #{patienttel,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zakary.dao.PatientDao" >
    insert into patient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        patientId,
      </if>
      <if test="patientname != null" >
        patientName,
      </if>
      <if test="patientgender != null" >
        patientGender,
      </if>
      <if test="patientage != null" >
        patientAge,
      </if>
      <if test="patienttel != null" >
        patientTel,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientid != null" >
        #{patientid,jdbcType=INTEGER},
      </if>
      <if test="patientname != null" >
        #{patientname,jdbcType=VARCHAR},
      </if>
      <if test="patientgender != null" >
        #{patientgender,jdbcType=CHAR},
      </if>
      <if test="patientage != null" >
        #{patientage,jdbcType=INTEGER},
      </if>
      <if test="patienttel != null" >
        #{patienttel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zakary.dao.PatientDao" >
    update patient
    <set >
      <if test="patientname != null" >
        patientName = #{patientname,jdbcType=VARCHAR},
      </if>
      <if test="patientgender != null" >
        patientGender = #{patientgender,jdbcType=CHAR},
      </if>
      <if test="patientage != null" >
        patientAge = #{patientage,jdbcType=INTEGER},
      </if>
      <if test="patienttel != null" >
        patientTel = #{patienttel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where patientId = #{patientid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zakary.dao.PatientDao" >
    update patient
    set patientName = #{patientname,jdbcType=VARCHAR},
      patientGender = #{patientgender,jdbcType=CHAR},
      patientAge = #{patientage,jdbcType=INTEGER},
      patientTel = #{patienttel,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR}
    where patientId = #{patientid,jdbcType=INTEGER}
  </update>
</mapper>